Problem 1: Unique Words in a Sentence

In [9]:
sentence = input("Enter Your Sentence: ")

# Splitting sentence into a list of words
words = sentence.split()

# Using a set to automatically remove duplicates
unique_words = set(words)

# Displaying count
print("Unique words count:", len(unique_words))

# Displaying the unique set
print("Unique words:", unique_words)

Enter Your Sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'easy', 'is', 'python', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [14]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Using max() with a key to find the employee name with the highest value
highest_paid = max(employees, key=employees.get)

print(f"Highest Salary: {highest_paid} - {employees[highest_paid]}")

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [11]:
numbers = [45, 22, 89, 10, 66]

# Initializing with the first element
max_val = numbers[0]
min_val = numbers[0]

# Iterating through the list to compare values
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [12]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for p in prices:
    if p > 1000: # Comparing each price with 1000
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [13]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P") # Counting present days
total_days = len(attendance) # Getting total days

percentage = (present_count / total_days) * 100 # Calculating percentage
print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [15]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers) # Sets remove duplicates automatically

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [20]:
text = input("Enter your string : ")
freq = {}

for char in text:
    # Incrementing count for each character occurrence
    freq[char] = freq.get(char, 0) + 1

print(freq)

Enter your string : python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [21]:
data_list = [10, 20, 30]
converted_tuple = tuple(data_list)

print("Tuple:", converted_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [22]:
employee_data = {"Name": "Ravi", "ID": 101}
search_key = "Name"

if search_key in employee_data: # Using the 'in' keyword
    print("Employee exists")

Employee exists

Problem 10: Calculate Average Marks

In [23]:
marks = [80, 75, 60, 75]

total_sum = sum(marks) # Summing all values
average = total_sum / len(marks) # Dividing by total number of marks

print("Average Marks:", average)

Average Marks: 72.5